 body{
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #F527D3;
        }
        .box{
            background: white;
            padding: 20px;
            width: 90%;
            max-width: 350px;
            border-radius: 8px;
        }
        label{
            display: block;
            margin-top: 10px;
        }
        input{
            width: 100%;
            padding: 8px;
            margin-top: 5px;
        }
        .checkbox{
            margin-top: 10px;
        }
        button{
            width: 100%;
            margin-top: 15px;
            padding: 10px;
            background: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        .term{
            display: flex;
            justify-content: center;
            align-items: center;
        }